In [28]:
#SQL connection
library(RPostgreSQL)
library(tidyverse)

# Connect to your PostgreSQL database
con <- dbConnect(dbDriver("PostgreSQL"),
                 user = "postgres",
                 password = "DomowySQL",
                 dbname = "Games",
                 host = "::1",
                 port = 5432)


query <- "SELECT a.variant
,count(a.user_id) as total_cohorted
,count(b.user_id) as completions
,count(b.user_id) * 1.0 / count(a.user_id) as pct_completed
FROM exp_assignment a
LEFT JOIN game_actions b on a.user_id = b.user_id
and b.action = 'onboarding complete'
WHERE a.exp_name = 'Onboarding'
GROUP BY 1
"

df <- dbGetQuery(con,query)

In [31]:
Significance <- chisq.test(matrix(c(38280, 50275-38280,
                    36268, 49879-36268), nrow=2, byrow=TRUE))

print(Significance)

	Pearson's Chi-squared test with Yates' continuity correction

data:  matrix(c(38280, 50275 - 38280, 36268, 49879 - 36268), nrow = 2,     byrow = TRUE)
X-squared = 154.55, df = 1, p-value < 2.2e-16